.button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#for:before,
#back:before {
  text-decoration: inherit;
  position: relative;
  font-weight: 400;
  text-transform: none;
  font-size: 10px;
  font-family: FontAwesome;
}

#for {
  position: relative;
  ;
  margin: 20px;
}

#for:before {
  content: "\f054";
  right: 20px;
}

#back {
  position: relative;
  ;
  margin: 20px;
}

.button input {
  font-size: 18px;
  width: 10%;
  padding: 10px 30px;
  ;
  transition: .5s;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}

input[type="button"]:hover,
input:active {
  background-color: #00aeef;
  outline: none;
  border: none;
}

input:disabled {
  color: white;
  background-color: #C0C0C0;
}



/* radio buttons */

label {
  cursor: pointer;
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 12px;
  margin-top: 12px;
  padding-left: 50px;
  position: relative;
}

label input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.checkMark {
  background-color: #eee;
  border-radius: 50px;
  border: 1px solid gray;
  height: 30px;
  left: 0;
  position: absolute;
  top: -5px;
  width: 30px;
}

.box {
  border-radius: 5px;
  ;
}

label input:checked~.checkMark {
  background-color: gray;
}

.checkMark:after {
  content: "";
  display: none;
  position: absolute;
}

label input:checked~.checkMark:after {
  display: block;
}

label .checkMark:after {
  left: 10px;
  top: 25%;
  width: 5px;
  height: 10px;
  margin: auto;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

label:hover input~.checkMark {
  border-color: 2px solid gray;
}


textarea {
  width: 70%;
  margin-top: 10px;
}

/* switch */


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}